<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--

    This file is the default logback configuration for Spring Boot. To use the same
    defaults and add custom logger levels you can copy this file and add additional
    overrides, e.g:

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    ...

    -->

    <!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under
          the key "bySecond" into the logger context. This value will be
          available to all subsequent configuration elements. -->
    <timestamp key="bySecond" datePattern="yyyy-MM-dd'T'HHmmss"/>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t{14}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex"/>

    <included>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </included>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- http://logback.qos.ch/translator/ -->
    <logger name="org.apache.hadoop.mapred.LocalJobRunner" level="INFO"/>
    <logger name="org.apache.hadoop.conf.Configuration" level="ERROR"/>
    <logger name="edu.tuberlin" level="DEBUG"/>
    <logger name="org.apache.pig.tools.pigstats" level="INFO"/>
    <logger name="org.apache.pig.backend.hadoop.executionengine.mapReduceLayer.MapReduceLauncher" level="INFO"/>
    <logger name="de.tudarmstadt.ukp.dkpro" level="INFO"/>

</configuration>